@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

html { margin-left: calc(100vw - 100%); }

body {
  @apply bg-slate-100
}

.main-icon {
  @apply font-bold cursor-pointer absolute right-0 z-50 transition-transform
}
